<h1>Hub#AddPage</h1>
<p>Find me in app/views/hub/AddPage.html.erb</p>

<%= link_to("HomePage", {:action => 'HomePage'})%>
<!--
<%=1 + 1%>

<br />

<% target = 'world' %>

<%= "Hello #{target}!"%>

<br />

ID: <%= @id %> <br />
-->
Message: <%= @woah %> <br />