<h1>Hub#HomePage</h1>
<p>Find me in app/views/hub/HomePage.html.erb</p>

<%= link_to("AddPage", {:action => 'AddPage', :id => 3})%>
<%= link_to("DeletePage", {:action => 'DeletePage'})%>
<%= link_to("DetailsPage", {:action => 'DetailsPage'})%>
<%= link_to("UpdatePage", {:action => 'UpdatePage'})%>
<%= link_to("View All Books", books_path)%>