<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>
<h1>Books#show</h1>
<p><%= link_to("Home Page", books_path) %></p>

<table>
    <tr>
         <th>Title</th>
         <td><%= @book.title %></td>
    </tr>
    <tr>
         <th>Author</th>
         <td><%= @book.author %></td>
    </tr>
    <tr>
         <th>Genre</th>
         <td><%= @book.genre %></td>
    </tr>
    <tr>
         <th>Price</th>
         <td><%= @book.price %></td>
    </tr>
    <tr>
         <th>Published Date</th>
         <td><%= @book.published_date %></td>
    </tr>
</table>